<% provide(:title, 'About') %>
<h1>About Us</h1>
<div class="row">
  <div class="large-1 columns"><%= render 'shared/articles/article2' %>
	</div>
  <div class="large-10 large-offset-1 columns"><%= render 'shared/articles/article1' %>
	</div>
</div>
<p> 
	We run a boutique at neighbours bus stop near outering round about. Visit us and get <br>the best of uor 
	latest collection. 
</p>
