<% provide(:title, 'Home') %>

<div class="row">
<aside class="span8">
	<section>
	<%= render 'shared/articles/article2' %>
	<%= render 'shared/articles/article2' %>
	</section>
</aside>
<aside class="span2">
	<section>
		<%= render 'shared/articles/article1' %>
	</section>
	<aside>
</div>

