<h1>Grab the best</h1>
		<p>
	Visit our boutique located at Neighbors Bus stop near Outring junction and get the best of collections<b></br>

	You may have noticed that our tests for the layout links test the routing but don’t actually check that the links on the layout go to the right pages. One way to implement these tests is to use visit and click_link inside the RSpec integration test. Fill in the code in Listing 5.36 to verify that all the layout links are properly defined.</b>
		</p>