<div>
		<section class="logo">
			<%= link_to "F1Ladies", '#',id: "logo"  %>
		</section>
		<aside class="span8">
		<section class="para">
		<p>"Style shows who you are without having to speak."</>
		</section>
		</aside>
</div>